.my-header {
    background-color: #75ABBC;
  }
  
.my-footer {
    background-color: #75ABBC;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #071013;
  }
  
  a {
    color: #1B4B5A;
    text-decoration: none;
  }
  
  section {
    background-color: #DFE0E2;
  }

  .input1 {
    margin-left: 10%;
  }
  
  .input2 {
    margin-left: 14.6%;
  }
  
  .input3 {
    margin-left: 11.5%;
  }
  
  .input4 {
    margin-left: 7.4%;
  }